@model WypozyczalniaNarty.Models.Narty

@{

}

<style>
    #box {
        border: 1px solid black;
        height: 100%;
    }

    #main-div {
        height: 900px;
        background-image: url('../../Content/img/building6.jpg');
        background-size: 100% 900px;
    }

    .insidebox {
        border: 1px solid black;
        margin: 10% auto 10% auto;
        max-width: 500px;
        min-width: 200px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    div h1 {
        text-align: center;
    }

    p#para {
        text-align: center;
        font-size: 14px;
    }
</style>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />




<script src="js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>

<nav class="navbar navbar-inverse" style="">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wypożyczalnia</a>
        </div>
        <ul class="nav navbar-nav">
            <li >@Html.ActionLink("Przegląd nart", "Index", "User", null, new { @class = "ht" })</li>
            <li>
                @if (Session["u_id"] != null)
                {
                    @Html.ActionLink("Wypożycz narty", "CreateAd", "User", null, new { @class = "ht" })

                }
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Session["u_id"] == null)
                {

                    @Html.ActionLink("Zaloguj", "login", "User", null, new { @class = "ht", })

                }
            </li>
            <li>
            @if (Session["u_id"] == null)
            {
                @Html.ActionLink("Zarejestruj", "SignUp", "User", null, new { @class = "ht" })
            }

            <li>
        </ul>
    </div>
</nav>

<div id="main-div">
    <div id="box" class="img-responsive">
        @using (Html.BeginForm("GetSkis",
                        "User",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            <div class="insidebox">
                <div> <h1>Wypożycz narty</h1></div>



                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.DropDownListFor(x => x.NartaId, ViewBag.categorylist as SelectList, "--Producent--", new { @class = "form-control" })
                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.NartaId) </span>

                </div>
                @*
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.TextBoxFor(x => x.pro_name, new { @class = "form-control", @placeholder = "Product Name" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_name) </span>

                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.TextBoxFor(x => x.pro_price, new { @class = "form-control", @placeholder = "Price" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_price) </span>

                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.TextBoxFor(x => x.pro_des, new { @class = "form-control", @placeholder = "Description" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_des) </span>

                </div>

*@
                <div class="form-group">

                    <input type="submit" value="Wypożycz" class="btn btn-success btn-block" />

                </div>

                <div class="form-group">
                    <p style="color:red">@ViewBag.error</p>
                </div>



            </div>

        }
    </div>

</div>


<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
